body > ul {
    width: 100%;
}

ul > li {
    list-style-type: none;
    position: absolute;
    display: inline-block;
    flex-flow: wrap;
    text-align: center;
    vertical-align: middle;
    padding: 1%;
    transform: scale(0);
    opacity: 0;
    transition: transform 2s, opacity 3s;
}
ul > li > * {
    margin: auto;
}
.active {
    transform: scale(1);
    opacity: 1;
}