* {
    box-sizing: border-box;
}

:root {
    --background-table: url(../img/banner.jpg) no-repeat center top;
}

#logo {
    margin: 2% 5%;
    height: 25vh;
}

body {
    background-color: rgba(19, 17, 17, 0.808);
}

header {
    top: 0;
}
footer {
    bottom: 0;
}
header, 
footer {
    background: var(--background-table);
    position: absolute;
    width: 100%;
}
header .row, 
footer .row {
    margin: 0 !important;
}
header .row .col, 
footer .row .col {
    padding: 0rem 0.5rem !important;
}

footer .row .col > * {
    margin: 0 !important;
    padding: 0.3rem 0rem !important; 
}

.title-table {
    background-image: url(../img/2.jpg);
    background-origin: content-box;
    background-position: top;
    background-clip: content-box;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 6px;
    text-align: center;
}

.text-shadow,
.text-shadow > * {
    text-shadow: 1px 1px 2px black, 0 0 1em white, 0 0 0.2em whitesmoke !important;
}

.body {
    margin-top: 80px;
}
.body .row .col {
    padding: 0 !important;
}
